<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
<!--    这里展示使用注解实现自动装配的2种方法-->
    <context:annotation-config/>
    <bean id="cat" class="com.bmft.pojo.Cat"/>
    <bean id="dog" class="com.bmft.pojo.Dog"/>
    <bean id="person" class="com.bmft.pojo.Person"/>
</beans>